Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-JWT-Extended==4.6.0
Flask-CORS==4.0.0
pymysql==1.1.0
python-dotenv==1.0.0
bcrypt==4.1.2
python-dateutil==2.9.0.post0
reportlab==4.4.3
flask-swagger-ui>=4
requests>=2.32
python-docx>=1.1
